
/* Landing Page */
.navbar{
    width: 1440px;
    height: 20px;
    background-color: white;
    cursor:pointer;
}

.landing{
    background-image: url("Images/background3.webp");
    height: 100vh;
    overflow-x: hidden;
    background-repeat:no-repeat;
    background-size:100% 100%;
    min-height: 700px;
    display:flex;
    flex-direction:column;
    z-index:-1000;
}
.rain{
    overflow-y:hidden;
    width:100vw;
    height:140vh;
    display:flex;
    flex-direction:column;
}
.leafBox{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    height:400px;
}

.fallingLeaves{
    height:200px;
    margin-right:50px;
    margin-left:50px;
    display:flex;
    background-image: url("Images/testgif.gif");
    background-repeat:repeat-x;
    filter:hue-rotate(90deg);
}

.box{
    width:100px;
    height:100px;
    display:flex;
    align-items: self;
    background-color: black;
    color:white;
    justify-content: center;
    margin:100px;
}

.leaf:hover{
    filter:brightness(70%);
}
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.simg{
    width: 600px;
    height: 450px;
}
.changeBackButton{
    display:none;
}
footer{
    background-color:burlywood;
    color:brown;
}
.test{
    filter:hue-rotate(90deg);
}
.textImg{
    width:200px;
    height:150px;
    background-image: url("Images/leaf-removebg-preview2.png");
    cursor: pointer;
    display:flex;
    align-content:center;
    justify-content:center;
    align-items:center;
    margin-right:50px;
    
}
.textImg:hover{
    /* Change just the background image to be darker with brightness() */
    filter:brightness(70%);
}

/* Screwing around with animated crap */
.textImg.active {
  animation: zoom-in-zoom-out 1s ease 1, darken-screen 1s ease 1;
  /* animation: darken-screen 1s ease 1; */
}
.landing.dark{
    animation: darken-screen 1s ease 1;
}

@keyframes zoom-in-zoom-out {
  0% {
    scale: 100%;
  }
  
  100% {
    scale: 500%;
  }
}
@keyframes darken-screen{
    0%{
        filter:brightness(100%);
    }
    50%{
        filter:brightness(50%);
    }
    100%{
        filter:brightness(0%);
    }
}
.spellSheet{
    width:200px;
    height:200px;
    background-color:white;
    margin-bottom:0px;
    color:black;
    display:none;
    position:fixed;
    z-index:10;
}
.spell{
    cursor:pointer;
}
.spell:hover{
    text-decoration-line:underline;
}
/* About Me Page */
html{
    margin:0;
}
.aboutMePage{
    display:flex;
    width:100vw;
    margin:0;
    overflow-x:hidden;
    min-height:min-content;
}
.aboutMeImage{
    background-image:url("Images/village1.jpg");
    margin-right:0px;
    background-repeat:repeat-y;
    width:50%;
    min-height:1440px;
    overflow-y:scroll;
    flex:1;
    background-size:contain;

}
.aboutMeText{
    flex:1;
    /* min-height:min-content; */
    height:auto;
    width:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#5E7FAB;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.self{
    width:40%;
    height:20%;
}
.carosel{
    display:flex;
    flex-direction:row;
    width:90%;
    height:20%;
    /* Added by AI */
    margin-bottom:20px;
}
.caroselDiv{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    text-align:center;
    /* background-color:darkolivegreen; */
    /* opacity:70%; */

}
.caroselDiv img{
    width:100%;
    height:100%;
    border:solid,darkgreen,3px;
}
.scoutImg{
    width:100%;
    height:100%;
    border:solid,darkgreen,3px;
    /* border-radius:10%; */
}
h3{
    text-align:center;
}
.pdf{
    margin:10px;
    width:75%;
    height:60vh;
    overflow-x:hidden;
    /* Added by Chat */
    clear:both;
    margin-top:30px;
}
ul{
    text-align:left;
}
.projectsPage{
    display:flex;
    width:100vw;
    margin:0;
    overflow-x:hidden;
    min-height:min-content;
     
} 
.projectText{
    height:auto;
    flex:1;
    width:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#f2943d;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.projectImage{
    background-image:url("Images/village2.jpg");
    margin-right:0px;
    background-repeat:repeat-y;
    width:50%;
    min-height:1440px;
    overflow-y:scroll;
    flex:1;
    background-size:contain;
}
.proj{
    width:90%;
    height:20%;
    margin:20px;
}
.proj:hover{
    width:100%;
    height:25%;
}

