
/* Landing Page */
.navbar{
    width: 100%px;
    height: 100px;
    background-color: white;
    cursor:pointer;
}
.nav{
    width:100%;
    height:10%;
    background-color:white;
    opacity:70%;
    display:flex;
    /* flex-direction:column; */
    /* align-content:center; */
    /* align-items:center; */
    justify-content:center;
    /* padding-right:10px; */
}
.nav a{
    cursor:pointer;
    margin-right:10%;
    margin-left:10%;
    text-align:center;
    /* margin-right:40%; */
    /* margin-left:40%; */
}
.spellButton{
    background-image:url("Images/scroll1-removebg-preview.png");
    height:200px;
    width:200px;
    display:block;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    display:flex;
    justify-content:center;
    justify-items:center;
    cursor:pointer;
    color:brown;

}
.closeButton{
    background-image:url("Images/scroll1-removebg-preview.png");
    height:200px;
    width:200px;
    display:none;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    /* display:flex; */
    /* justify-content:center; */
    /* justify-items:center; */
    cursor:pointer;
    color:brown;

}


.landing{
    background-image: url("Images/background3.webp");
    height: 100vh;
    overflow-x: hidden;
    background-repeat:no-repeat;
    background-size:100% 100%;
    min-height: 700px;
    display:flex;
    flex-direction:column;
    z-index:-1000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.rain{
    overflow-y:hidden;
    width:100vw;
    height:140vh;
    display:flex;
    flex-direction:column;
}
.leafBox{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    height:400px;
}

.fallingLeaves{
    height:200px;
    margin-right:50px;
    margin-left:50px;
    display:flex;
    background-image: url("Images/testgif.gif");
    background-repeat:repeat-x;
    filter:hue-rotate(90deg);
}

.box{
    width:100px;
    height:100px;
    display:flex;
    align-items: self;
    background-color: black;
    color:white;
    justify-content: center;
    margin:100px;
}

.leaf:hover{
    filter:brightness(70%);
}
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.simg{
    width: 600px;
    height: 450px;
}
.changeBackButton{
    display:none;
}
footer{
    background-color:burlywood;
    color:brown;
}
.test{
    filter:hue-rotate(90deg);
}
.textImg{
    width:200px;
    height:150px;
    background-image: url("Images/leaf-removebg-preview2.png");
    cursor: pointer;
    display:flex;
    align-content:center;
    justify-content:center;
    align-items:center;
    margin-right:50px;
    
}
.textImg:hover{
    /* Change just the background image to be darker with brightness() */
    filter:brightness(70%);
}

/* Screwing around with animated crap */
.textImg.active {
  animation: zoom-in-zoom-out 1s ease 1, darken-screen 1s ease 1;
  /* animation: darken-screen 1s ease 1; */
}
.landing.dark{
    animation: darken-screen 1s ease 1;
}

@keyframes zoom-in-zoom-out {
  0% {
    scale: 100%;
  }
  
  100% {
    scale: 500%;
  }
}
@keyframes darken-screen{
    0%{
        filter:brightness(100%);
    }
    50%{
        filter:brightness(50%);
    }
    100%{
        filter:brightness(0%);
    }
}
.spellSheet{
    width:200px;
    height:200px;
    background-color:bisque;
    margin:5px;
    margin-bottom:0px;
    color:brown;
    display:none;
    position:fixed;
    z-index:10;
}
.spell{
    cursor:pointer;
}
.spell:hover{
    text-decoration-line:underline;
}
/* About Me Page */
html{
    margin:0;
    scroll-behavior: smooth;
}
.aboutMePage{
    display:flex;
    width:130vw;
    margin:0;
    overflow-x:hidden;
    min-height:min-content;
}
.aboutMeImage{
    background-image:url("Images/village1.jpg");
    margin-right:0px;
    background-repeat:repeat-y;
    width:50%;
    /* min-height:1440px; */
    overflow-y:scroll;
    flex:1;
    background-size:contain;

}
.aboutMeText{
    flex:1;
    /* min-height:min-content; */
    height:max-content;
    width:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#5E7FAB;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.self{
    width:40%;
    height:20%;
}
.carosel{
    display:flex;
    flex-direction:row;
    width:95%;
    height:30%;
    /* Added by AI */
    margin-bottom:20px;
}
.caroselDiv{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    text-align:center;
    /* background-color:darkolivegreen; */
    /* opacity:70%; */

}
.caroselDiv img{
    width:100%;
    height:100%;
    border:solid,darkgreen,3px;
    margin-top:5%;
}
.caroselDiv p{
    line-height:25px;
}
.scoutImg{
    width:100%;
    height:100%;
    border:solid,darkgreen,3px;
    /* border-radius:10%; */
}
h3{
    text-align:center;
}
.pdf{
    margin:10px;
    width:75%;
    height:100vh;
    overflow-x:hidden;
    border:5px solid darkgreen;
    /* Added by Chat */
    /* clear:both; */
    /* margin-top:30px; */
    position:relative;
    /* navpanes=0; added into the legit legit link*/
}
ul{
    text-align:left;
}
.right{
    width:100px;
    height:50px;
    border:5px, solid, darkgreen;
    cursor:pointer;
    background-color:cornflowerblue;
    color:white;
}
.projectsPage{
    margin:0;
   display:flex;
   flex-direction:row;
   width:100vw;
   height:100vh;
   overflow-y:hidden;
   overflow-x:hidden;
    

}
.projectsImage{
    width:70%;
    background-image:url("Images/village5.jpg");
    flex:1;
    background-size:cover;
    align-items:center;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-start;

}
.projectsText{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:20%;
    background-color:#026907;
    color:white;

}
.projectsText img{
    width:90%;
    height:20%;
}
.projectsImage img{
    width:50%;
    height:50%;
    margin:10px;
    display:none;
    /* margin-right:auto; */
    /* margin-left:auto; */
}
#shroom1{
    position:absolute; 
    top:140px;
    left:150px;

}
#shroom2{
    position:absolute;
    bottom:200px;
    right:200px;
}
#shroom2{
    position:absolute;
    left:230px;
    bottom:30px;

}
#shroom3{
    position:absolute;
    bottom:140px;
    left:440px;
}
.projectsText h2{
    text-align:center;
    cursor:pointer;
}
.projectsText h2:hover{
    text-decoration:underline;
}
.shroomButton{
    /* background-color:white; */
    background-image:url("Images/shiny.gif");
    color:black;
    width:100px;
    height:100px;
    cursor:pointer;

    
}
.shroomButton:hover{
    border:gold,solid,2px;
}
.projectsPageA{
    background-image:url("Images/map.png");
    background-size:cover;
}
.description{
    text-align:center;
}
.futurePage{
    display:flex;
    flex-direction:row;
    width:100vw;
    margin:0;
    overflow-x:hidden;
    min-height:min-content;
}
.futureImage{
    background-image:url("Images/purd2.jpg");
    margin-right:0px;
    background-repeat:repeat-y;
    width:50vw;
    min-height:100vh;
    overflow-y:hidden;
    background-repeat:no-repeat;
    flex:1;
    background-size:contain;

}
.futureImage{
    cursor:pointer;
}
.futureText{
    flex:1;
    /* min-height:min-content; */
    height:max-content;
    width:50vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:darkgoldenrod;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contactPage{
    height:fit-content;
    background-color:#50148c;
    color:white;
    align-items:center;
    display:flex;
    flex-direction:column;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* background-repeat:no-repeat; */
    /* align-items:center; */
}
/* .contactImage{
    background-image: url("Images/jupiter.jpg");
    background-size:contain;
    width:40%;
}
    */
.contactText{
    height:fit-content;
    background-color:#50148c;
    color:white;
    align-items:center;
    display:flex;
    flex-direction:column;
    border:#31a86d, solid, 3px;
    padding:5px;
    margin:5px;
} 

.contactText input{
    /* height:50%; */
    width:80%;
    size:50;
    font-size:30px;
    border:#31a86d,5px,solid;
}
.contactText button{
    width:40%;
    height:8vh;
    cursor:pointer;
    border:5px, solid, #31a86d;
    margin:10px;
    font-size:15px;
}
.logos{
    display:flex;
    flex-direction:row;
    /* height:100vh; */
    align-content:center;
    /* margin-bottom:2px; */
    margin:3px;
}
.commentList{
    /* display:none; */
    background-color:#328da8;
    width:100px;
    height:100px;
    color:white;
    display:none;
    position:absolute;
    top:5px;
    left:5px;
} 
.contactLogo{
    width:100px;
    height:80px;
    margin:10px;
    cursor:pointer;
}
.contactLogo:hover{
    width:110px;
    height:90px;
}

